  # https://git-scm.com/docs/gitignore

  # Build results
  target

  # IntelliJ IDEA configurations
  .idea
  *.iml

  # Eclipse configurations
  .progect
  .classpath
  .settigs

  # NetBeans configurations
  nb*.xml
